/*
Background Colors
*/
#messages_container, #footer
{
	background : #EEEEEE url('chrome-extension://__MSG_@@extension_id__/images/bg-tex.png') !important;
}
#channel_members_toggle,
#msgs_div > .day_divider,
#msgs_div > .day_divider > .day_divider_label,
#msgs_div > #msgs_unread_divider > .divider_label,
#msgs_div > .message > .msg_actions
{
	background : inherit !important;
}
#msgs_div > .day_divider > .day_divider_label,
#msgs_div > #msgs_unread_divider > .divider_label
{
	border-radius : 5px !important;
	background    : #FFFFFF !important;
}
#msgs_div > .message > .timestamp
{
	color : #BABBBF !important;
}
/*
Message Dividers
*/
#msgs_div > .message
{
	margin : 0 !important;
}
#msgs_div > .message::before
{
	content    : '' !important;
	clear      : both !important;
	display    : block !important;
	margin     : 0 0 10px 0 !important;
	border-top : 1px dotted #D1D1D1 !important;
}
#msgs_div > #msgs_unread_divider
{
	margin : 15px 0 15px 0 !important;
}
#msgs_div > #msgs_unread_divider > .divider_label
{
	padding     : .5em !important;
	font-size   : 1.2em !important;
	font-weight : bold !important;
	margin      : -0.8em 0 0 0 !important;
}
#msgs_div > .day_divider > .day_divider_label
{
	padding : .1em .5em .1em .5em !important;
}
/*
Messages
*/
.dense_theme .msgs_holder
{
	padding: 0 !important;
}

/* hide extra lines for bot messages */
.dense_theme #msgs_div > .message.bot_message:not(.via-hipchat):not(.via-megabite-the-websharks-bot-):not(.via-ifttt) > .message_content
{
	vertical-align : middle !important;
	display        : inline-block !important;
	height         : 1.15rem !important;
	overflow-y     : hidden !important;
}
#msgs_div .copy_only
{
	display : none !important;
}
#msgs_div > .message > .msg_actions
{
	top   : 2px !important;
	right : 5px !important;
}
#msgs_div > .message.show_user > a.member_image,
#msgs_div > .message.show_user > a > .member_image
{
	opacity : 1 !important;
	top     : 5px !important;
	left    : 5px !important;
}
#msgs_div > .message > .message_star_holder
{
	top      : 2px !important;
	left     : auto !important;
	right    : 20px !important;
	position : absolute !important;
}
.dense_theme #msgs_div > .message > .message_sender::after
{
	content      : ':';
	display      : inline-block;
	margin-right : 3px;
}
#msgs_div > .message > .message_content > .special_formatting_quote,
#search_message_results > .search_message_result > .search_message_result_text > .search_message_result_hit > .special_formatting_quote
{
	zoom    : 0.9 !important;
	opacity : 0.7 !important;
}
#msgs_div > .message > .message_content > .inline_attachment > .inline_attachment_wrapper.standalone
{
	padding-bottom : 0 !important;
}
/*
Chat Messages
*/
#msgs_div > .message.via-hipchat,
#msgs_div > .message:not(.bot_message)
{
	border        : 0 !important;
	border-radius : 5px !important;
	background    : #FFFFFF !important;
	margin        : 10px 0 10px 0 !important;
	box-shadow    : 0 0 2px 2px rgba(255, 255, 255, 0.5) !important;
}

.dense_theme #msgs_div > .message.via-hipchat,
.dense_theme #msgs_div > .message:not(.bot_message)
{
	border        : 0 !important;
	/* border-radius : 5px !important; */
	border-top    : 1px solid #eee !important;
	background    : #FFFFFF !important;
	margin        : 0 !important;
	margin-right  : 20px !important;
	padding       : 2px 10px !important;
	padding-left: 20px !important;
	/* box-shadow    : 0 0 2px 2px rgba(255, 255, 255, 0.5) !important; */
}
#msgs_div > .message.via-hipchat::before,
#msgs_div > .message:not(.bot_message)::before
{
	display : none !important;
}
#msgs_div > .message.via-hipchat:not(.show_user) > .timestamp,
#msgs_div > .message:not(.bot_message):not(.show_user) > .timestamp
{
	left : 0 !important;
}
body.no_avatars #msgs_div > .message.via-hipchat > .message_sender > a > img.inline_bot_icon
{
	display : none !important;
}
.dense_theme #msgs_div > .message > .message_sender {
	margin-left: 0 !important;
}
/*
Bot Messages
*/
#msgs_div > .message.bot_message:not(.via-hipchat)
{
	zoom   : 0.95 !important;
	margin : 10px 0 10px 0 !important;
}

.dense_theme #msgs_div > .message.bot_message:not(.via-hipchat)
{
	zoom   : 0.95 !important;
	margin : 0 !important;
	padding: 0 !important;
	padding-left: 20px !important;
}
#msgs_div > .message.bot_message:not(.via-hipchat).no-divider::before
{
	display : none !important;
}
/*
Mentions
*/
#msgs_div > .message > .message_content .mention_group,
#member_mentions > .message > .message_content .mention_group,
#search_message_results > .message > .message_content .mention_group,
	/**/
#msgs_div > .message > .message_content .mention_channel,
#member_mentions > .message > .message_content .mention_channel,
#search_message_results > .message > .message_content .mention_channel,
	/**/
#msgs_div > .message > .message_content .mention_everyone,
#member_mentions > .message > .message_content .mention_everyone,
#search_message_results > .message > .message_content .mention_everyone,
	/**/
#msgs_div > .message > .message_content a.internal_member_link[data-member-name],
#member_mentions > .message > .message_content a.internal_member_link[data-member-name],
#search_message_results > .message > .message_content a.internal_member_link[data-member-name]
{
	line-height     : 1em !important;
	border-radius   : 4px !important;
	text-decoration : none !important;
	display         : inline-block !important;
	padding         : 0.025em 0.25em !important;

	color           : #000000 !important;
	border          : 1px solid #C2C2C2 !important;
	background      : #E6E6E6 !important;
}
#msgs_div > .message > .message_content .mention_group,
#member_mentions > .message > .message_content .mention_group,
#search_message_results > .message > .message_content .mention_group,
	/**/
#msgs_div > .message > .message_content .mention_channel,
#member_mentions > .message > .message_content .mention_channel,
#search_message_results > .message > .message_content .mention_channel,
	/**/
#msgs_div > .message > .message_content .mention_everyone,
#member_mentions > .message > .message_content .mention_everyone,
#search_message_results > .message > .message_content .mention_everyone,
	/**/
#msgs_div > .message > .message_content a.internal_member_link.internal_current_member_link[data-member-name],
#member_mentions > .message > .message_content a.internal_member_link.internal_current_member_link[data-member-name],
#search_message_results > .message > .message_content a.internal_member_link.internal_current_member_link[data-member-name]
{
	font-weight  : 900 !important;
	color        : #FFFFFF !important;
	border-color : #4783BF !important;
	background   : #4282C1 url('chrome-extension://__MSG_@@extension_id__/images/me-bg.png') repeat-x !important;
}
#msgs_div > .message > .message_content a.internal_member_link[data-member-name] > .mention,
#member_mentions > .message > .message_content a.internal_member_link[data-member-name] > .mention,
#search_message_results > .message > .message_content a.internal_member_link[data-member-name] > .mention
{
	background : none !important;
}

/*
Emoji and Bot Messages
*/
.dense_theme span.emoji {
	background-image: none !important;
	text-indent: 0 !important;
	display: inline !important;
}
.dense_theme span.emoji-sizer {
	font-size: 14px !important;
	font-weight: bold !important;
}
.dense_theme img.inline_bot_icon {
	display: none !important;
}
.dense_theme span.emoji-outer.emoji-sizer {
	display: none !important;
}
.dense_theme #msgs_div > .message::before {
	margin-top: 1px !important;
	margin-bottom: 1px !important;
}

/*
Bot Message Background Colors
*/
.dense_theme .message.first, .dense_theme .message.first.divider {
	border-top: none !important;
	margin-top: 0 !important;
}
.dense_theme .message.divider {
	border-top: none !important;
}
.dense_theme #msgs_div > .message::before {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.dense_theme .bot_message.via-zendesk {
	background-color: rgb(214, 248, 214) !important;
}
.dense_theme #msgs_div > .message.via-zendesk::before {
	border-top: 1px solid rgb(201, 236, 201) !important;
	margin-left: -20px !important;
}
.dense_theme .bot_message.via-websharks-sales-log {
	background-color: rgb(169, 211, 169) !important;
}
.dense_theme #msgs_div > .message.via-websharks-sales-log::before {
	border-top: 1px solid rgb(169, 202, 169)  !important;
	margin-left: -20px !important;
}
.dense_theme .bot_message[class$='-community'],
.dense_theme .bot_message[class$='-updates'] {
	background-color: rgb(245, 225, 200) !important;
}
.dense_theme #msgs_div > .message[class$='-community']::before,
.dense_theme #msgs_div > .message[class$='-updates']::before {
	border-top: 1px solid rgb(238, 206, 165) !important;
	margin-left: -20px !important;
}
.dense_theme .bot_message.via-mailchimp {
	background-color: rgb(205, 225, 229) !important;
}
.dense_theme #msgs_div > .message.via-mailchimp::before {
	border-top: 1px solid rgb(143, 203, 218) !important;
	margin-left: -20px !important;
}
.dense_theme .bot_message.via-github {
	background-color: #f5f5f5 !important;
}
.dense_theme #msgs_div > .message.via-github::before {
	border-top: 1px solid rgb(216, 224, 216) !important;
	margin-left: -20px !important;
}

/*
Message height (adjust the following three style declarations)
*/
.dense_theme #msgs_div > .message::before {
	padding-top: 5px !important;
}
.dense_theme #msgs_div > .message::after {
	padding-bottom: 5px !important;
	display: block;
	clear: both;
	content: ' ' !important;
}
.dense_theme #msgs_div > .message.bot_message.no-divider,
.dense_theme #msgs_div > .message.divider {
	padding-top: 5px !important;
}

/*
Move Timestamp to the righthand side
*/
.dense_theme .message .timestamp {
	margin-left: 0 !important;
	position: relative !important;
	float: right !important;
	padding-right: 15px !important;
}
.dense_theme .message.bot_message:not(.via-hipchat) .timestamp {
	margin-right: 42px !important;
}

/*
Unread Messages label
*/
.dense_theme #msgs_div > #msgs_unread_divider > .divider_label {
	margin-right: 4rem !important;
}

/*
Unread Messages banner
*/
.dense_theme .messages_banner {
	margin-left: 220px !important;
}